

eureka:
  instance:
    hostname: localhost
  client:
    # 表示自己是否注册到自己
    register-with-eureka: false
    # 表示自己是注册中心，不需要去检索服务
    fetch-registry: false
    service-url:
      # 设置与eureka server交互的地址 查询服务和注册服务都需要依赖这个地址
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    # 关闭自我保护机制
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 2000 # 扫描失效服务间隔时间 默认为60*1000ms